header {
  position: sticky;
  top: 0;
  z-index: 11;
  display: grid;
  grid-template-columns: minmax(130px, auto) 1fr;
  gap: 30px;
  --header-height: 80px;
  height: var(--header-height);
  width: 100%;
  background-color: var(--sl-color-neutral-0);
  overflow: hidden;
}

header a.logo {
  display: block;
}


header a.logo img {
  max-height: calc(var(--header-height) - 4px);
  margin: 2px;
  height: 100%;
}

header a {
  text-decoration: none;
}

header nav {
  text-align: right;
}

header nav a {
  display: inline-block;
  padding: 5px 15px;
}

header nav a:hover {
  text-decoration: underline;
}
